__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
*.pyc
*.pyo
.env
serviceAccountKey.json
input_videos/*
!input_videos/.gitkeep
outputs/*
!outputs/.gitkeep
models/
*.wav
*.mp3
*.mp4
*.mov
*.webm
